<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" href="./Css/style.css">
    <!-- Boxicons CDN Link -->
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/Actucla.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <i class=''> <img src="./Css/la-red.png" alt="" height="50px" width="50px"></i>
        <div class="logo_name">CodingLab</div>
      </div>
      <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav_list">
      <li>
          <i class='bx bx-search' ></i>
          <input type="text" placeholder="Search...">
        <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-grid-alt' ></i>
          <span class="links_name">Inicio</span>
        </a>
        <span class="tooltip">Inicio</span>
      </li>
      <li>
        <a href="./ActuCliente">
          <i class='bx bx-user' ></i>
          <span class="links_name">Mis Datos</span>
        </a>
        <span class="tooltip">Mis Datos</span>
      </li>
      <li>
        <a href="/Usu">
          <i class='bx bx-chat' ></i>
          <span class="links_name">Mi Cuenta</span>
        </a>
        <span class="tooltip">Mi Cuenta</span>
      </li>
      <li>
        <a href="/TbLineas">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="links_name">Mis Lineas De Credito</span>
        </a>
        <span class="tooltip">Mis Lineas De Credito</span>
      </li>
      <li>
        <a href="/Creditos">
          <i class='bx bx-folder' ></i>
          <span class="links_name">Mis Creditos</span>
        </a>
        <span class="tooltip">Mis Creditos</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cart-alt' ></i>
          <span class="links_name">Retirar O Consignar</span>
        </a>
        <span class="tooltip">Retirar O Consignar</span>
      </li>
    </ul>
    <div class="profile_content">
      <div class="profile">
        <div class="profile_details">
          <img src="profile.jpg" alt="">
          <div class="name_job">
            <div class="name">Prem Shahi</div>
            <div class="job">Web Designer</div>
          </div>
        </div>
        <i class='bx bx-log-out' id="log_out" > <a href="cerrar">Cerrar Sesion</a></i>
      </div>
    </div>
  </div>
  <div class="home_content">
    <div class="text">CLIENTES</div>
   
    <section class="form_wrap">

        <section class="cantact_info">
            <section class="info_title">
                <span class="fa fa-user-circle"></span>
                <% Datos.forEach(function (Datos){ %> 
                <h2>INFORMACION<br>DE <br>
                  <%=Datos.nomusu%> </h2>
            </section>
            <section class="info_items">
                <p><span class="fa fa-envelope"></span> SISTEMA BANCSTUD</p>
            </section>
        </section>

        <form action="" class="form_contact">
            <div class="user_info">

              <label for="names"  >Usuario </label>
              <input type="text" class="doc" value="<%=Datos.doccli%>" >
              
                  <label for="names"  >Usuario </label>
                <input type="text" class="usu" value="<%=Datos.nomusu%>" >

                <label for="phone">Clave</label>
                <input type="text" value="<%=Datos.clave%>" class="cla">
                <%})%>

                
                <input type="button" class="action_btn" value="ACTUALIZAR">
            </div>
        </form>

    </section>

    </div>


  <script>
    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");
    let searchBtn = document.querySelector(".bx-search");
 
    btn.onclick = function() {
      sidebar.classList.toggle("active");
      if(btn.classList.contains("bx-menu")){
        btn.classList.replace("bx-menu" , "bx-menu-alt-right");
      }else{
        btn.classList.replace("bx-menu-alt-right", "bx-menu");
      }
    }
    searchBtn.onclick = function() {
      sidebar.classList.toggle("active");
    }
   </script>
 </body>
 </html>